{% extends "base.html" %}

{% block body_contents %}
<header class="masthead">
  <img class="img-fluid" src="static/sphere.jpg" alt="">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading"><i class="fa fa-street-view"></i></h1>
      <hr>
      <h2 style="color: #ffffff; background-color: rgba(0,0,0,0.4)">Connect with friends</h2>
      <h2 style="color: rgba(255,56,0,0)">????</h2><!--add space by adding transparent ????-->
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="login">Login</a>
      <br>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="register">Don't have an account? Register here</a>
    </div>
  </div>
</header>

{% endblock %}
