{% extends "base.html" %}
<link rel = "stylesheet" type = "text/css" href = "static/UNSWtalk.css">
{% block body_contents %}
<!--references http://flask.pocoo.org/docs/0.12/patterns/flashing/ -->
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method="POST" action="authenLog">
    <p class="boxx">
      Username: <input type="textfield" name="username" style="margin-left: 20px;">
      <br>
      <br>
      Password: <input type="password" name="password" style="margin-left: 25px;">
      <br>
      <br>
      <input type ='submit' name='logbut' value="Send" onclick="window.location='mainPage';"/>
      <input type ='reset' name='resetText'>
    </p>
</form>
{% endblock %}
