{% extends "base.html" %}

{% block body_contents %}
<div class="unswtalk_student_details">

Welcome {{user}}
<br>
<img src="{{ img }}">
<br>
Profile details:
</div>
Full Name: {{name}}<br>
Username: {{user}}<br>
Program: {{prog}}<br>
Email Address: {{email}}<br>
ZID: {{zid}}<br>
Birth Date: {{dob}}<br>
Courses at UNSW: {{courses}}<br>
<br>
{% if posts %}
{% for x in posts %}
  {{x.decode('utf-8','ignore')}}<br>
{% endfor %}
{% endif %}

<form method="POST" action="profilePage">
  <textarea name="post" placeholder="Write a post...">

  </textarea>
  <input type="submit" value="Post it!" class="unswtalk_button">
</form>

<form method="POST" action="profilePage">
    <input type="hidden" name="n" value="7">
    <input type="submit" value="Next student" class="unswtalk_button">
</form>
<form method="POST" action="homePage">
  <input type="submit" value="Logout" class="unswtalk_button">
</form>
{% endblock %}
