{% extends "mainBase.html" %}
{% block body_contents %}

<center>
  <br><br><br><br>
  <img src="static/dataset-small/{{user}}//img.jpg">
  <br><br><br>
  <form method="POST" action="profilePage">
    <textarea name="post" placeholder="What's on your mind..."></textarea>
    <input type="submit"  value="Post it!" class="unswtalk_button">
  </form>
  <br>
</center>
<h2>Personal Info</h2>
<h3><i>Full Name: </i></h3><h4>{{name}}</h4><br>
<h3><i>Username:</i></h3> <h4>{{user}}</h4><br>
<h3><i>Program: </i></h3><h4>{{prog}}</h4><br>
<h3><i>Email Address:</i></h3> <h4>{{email}}</h4><br>
<h3><i>ZID:</i></h3> <h4>{{zid}}</h4><br>
<h3><i>Birth Date:</i></h3> <h4>{{dob}}</h4><br>
<h3><i>Courses at UNSW:</i></h3><h4> {{courses}}</h4><br>
<br>
<h2>Posts</h2>

{% if posts %}
  {% for x in posts %}
  <div class="posts">
    {{x}}<br>
  </div>
  {% endfor %}
{% endif %}
{%if newPost%}
  <h3><i>Most recent Post</i></h3></i>
  {{newPost}}
{%endif%}

{% endblock %}
